#boddy, html, .container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #4B515D;
    color: whitesmoke;;
}

li {
    color: black;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
}

.sect{
    float: right;
}
.table {
    border-radius: 5px;
}
@keyframes tlo {
    0% {
        background-color: lightpink;
    }

    25% {
        background-color: pink;
    }

    50% {
        background-color: hotpink;
    }

    75% {
        background-color: deeppink;
    }
}

.message {
    color: red;
}

.success_message{
    color: green;
}